<div class="body-wrap">
  <div id="st-container" class="st-container">
    <div class="st-pusher">
      <div class="st-content">
        <div class="st-content-inner">      
          <section class="slice slice-lg sct-color-1">
            <div class="container">
              <div class="row">
                <div class="col-md-4 col-md-offset-4">
                  <div class="form-user style-1 rounded has-shadow-1"> 
                    <div class="form-header text-center">
                      <h2 class="form-header-title">プロフィール編集</h2>
                    </div>
                    <div class="form-body">
                      <%= form_for  %>
                    </div>
                  </div> 
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>