<div class="body">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Welcome to <span class="glyphicon glyphicon-book"><strong>Bookers</strong>!</span></h1>
			</div>
		</div>
	</div>
</div>
