<div class="body">
	<div class="container">
		<%= render 'users/info', user: @user, book: @book %>
			<div class="col-xs-9">
				<h2>Users</h2>
				<table class="table table-hover table-inverse">
					<thead>
						<tr>
							<th>image</th>
							<th>name</th>
							<th colspan="3"></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% @users.each do |user| %>
						<tr>
							<td>
								<%= attachment_image_tag user, :profile_image, format: 'jpeg', size: "45x45", fallback: "no_image.jpg" %>
							</td>
							<td><%= user.name %></td>
							<td colspan="3"></td>
							<td><%= link_to "Show", user_path(user) %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>